<mat-card class="task-form">
  <mat-card-header class="task-form__header">
    <mat-card-title>
      {{ taskId ? 'Editar Tarea' : 'Agregar Tarea' }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form class="task-form__form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <mat-form-field appearance="outline" class="f-width">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title" />
        <mat-error *ngIf="titleCtrl.touched && titleCtrl.hasError('required')">
          El título es obligatorio
        </mat-error>
        <mat-error *ngIf="titleCtrl.touched && titleCtrl.hasError('minlength')">
          Mínimo 3 caracteres
        </mat-error>
        <mat-error *ngIf="titleCtrl.touched && titleCtrl.hasError('maxlength')">
          Máximo 120 caracteres
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="f-width">
        <mat-label>Descripción</mat-label>
        <textarea matInput rows="4" formControlName="description"></textarea>
        <mat-error *ngIf="descriptionCtrl.touched && descriptionCtrl.hasError('maxlength')">
          Máximo 500 caracteres
        </mat-error>
      </mat-form-field>

      <div class="actions">
        <button
          mat-stroked-button
          type="button"
          *ngIf="taskId"
          (click)="onCancel()"
          class="btn-secondary"
        >
          Cancelar
        </button>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="form.invalid || submitting"
        >
          {{ taskId ? 'Guardar' : 'Agregar' }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
