:host {
  display: block;
}

.task-form {
  padding: 16px;
}

.task-form__header {
  margin-bottom: 12px;
}

.task-form__form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.f-width {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 8px;
}
